-----------------------------STRUCTURE DE DONNEES FORMANT UNE SEQUENCE--------------------------------- 
- index system 
- access to values

LISTES
- numeric list
- string list
- list of lists
- empty list

TUPLE
- create tuple
- tuple cannot be changed : it is more fast 

string
- create string

indexing
- allow access to one element
- start by 0 
- how to access to values 

Slicing
- allow access to more one element
- syntax of slicing
- use positive and negative step of slicing
- use slicing also for strings

METHODES ON LISTS (the most important)
- TABULATION to display several actions 
- append : add element in last
- insert : precise index
- extend : to add a list on a list
- len : how much element in my list
- sort() : alphabetic / sort(reverse=True anti-alphabetic)
- count('element to count') 
- pop / remove 

list in control structure 
- if 'paris' in list
- for i in list
- in enumerate(list) : display index and value
- in zip(l1, l2) : to access on elements of two list

In [2]:
#numeric list
nb_list = [1,2,3,4,5]
#string list
city_list = ['fes', 'tanger', 'casa', 'paris', 'marseille' ]
#list of lists
merg_list = (nb_list, city_list)
#empty list
emp_list = []

In [ ]:
#create tuple
tuple_1 = (1,2,3,4)
#tuple cannot be changed i, however it is more fast

In [49]:
#STRING
name = "Pola"

In [6]:
#allow access to one element
print(nb_list[0])
print(city_list[-1])
print(city_list[-2])
#index always start by 0

1
marseille
paris

In [12]:
#syntax ====> list[debut:fin:pas] 

print(city_list[::]) #all element
print(city_list[::-1]) #all lement reverse
print(city_list[::2]) #all element, jumping one element
print(city_list[:3]) #from 0 to 3 (not include)
print(city_list[3:]) #from 3 to the end
print(city_list[::-2]) #all element in reverse with jumping one element

['fes', 'tanger', 'casa', 'paris', 'marseille']
['marseille', 'paris', 'casa', 'tanger', 'fes']
['fes', 'casa', 'marseille']
['fes', 'tanger', 'casa']
['paris', 'marseille']
['marseille', 'casa', 'fes']

In [50]:
#indexing for string also
name[0]

'P'

In [38]:
#append : add element in last
city_list.append('lyon')
#insert : precise index
city_list.insert(2, 'rabat')
#extend : to add a list on a list
sec_list = ['tetouane', 'ifrane']
city_list.extend(sec_list)
#len : how much element in my list
len(city_list)
#sort() : alphabetic / sort(reverse=True anti-alphabetic)
city_list.sort()
city_list.sort(reverse=True)
#count('element to count')
city_list.append('fes')
city_list.count('fes')
#pop
city_list.pop(-1) 
#copy
city_list2 = city_list.copy() #create a copy

In [39]:
#if 'paris' in list
if 'fes' in city_list:
    print('yes')

yes

In [40]:
#for i in list
for city in city_list:
    print(city)

tetouane
tetouane
tetouane
tetouane
tetouane
tetouane
tetouane
tetouane
tanger
rabat
rabat
rabat
rabat
rabat
rabat
rabat
rabat
rabat
paris
marseille
lyon
lyon
lyon
lyon
lyon
lyon
lyon
lyon
lyon
lyon
ifrane
ifrane
ifrane
ifrane
ifrane
ifrane
ifrane
ifrane
fes
fes
casa

In [41]:
for i, j in enumerate(city_list):
    print(i,j)

0 tetouane
1 tetouane
2 tetouane
3 tetouane
4 tetouane
5 tetouane
6 tetouane
7 tetouane
8 tanger
9 rabat
10 rabat
11 rabat
12 rabat
13 rabat
14 rabat
15 rabat
16 rabat
17 rabat
18 paris
19 marseille
20 lyon
21 lyon
22 lyon
23 lyon
24 lyon
25 lyon
26 lyon
27 lyon
28 lyon
29 lyon
30 ifrane
31 ifrane
32 ifrane
33 ifrane
34 ifrane
35 ifrane
36 ifrane
37 ifrane
38 fes
39 fes
40 casa

In [46]:
sqr = []
for i in range(40):
    sqr.append(i**2)
len(sqr)

40

In [47]:
for i, j in zip(city_list, sqr):
    print(i,'===>',j)

tetouane ===> 0
tetouane ===> 1
tetouane ===> 4
tetouane ===> 9
tetouane ===> 16
tetouane ===> 25
tetouane ===> 36
tetouane ===> 49
tanger ===> 64
rabat ===> 81
rabat ===> 100
rabat ===> 121
rabat ===> 144
rabat ===> 169
rabat ===> 196
rabat ===> 225
rabat ===> 256
rabat ===> 289
paris ===> 324
marseille ===> 361
lyon ===> 400
lyon ===> 441
lyon ===> 484
lyon ===> 529
lyon ===> 576
lyon ===> 625
lyon ===> 676
lyon ===> 729
lyon ===> 784
lyon ===> 841
ifrane ===> 900
ifrane ===> 961
ifrane ===> 1024
ifrane ===> 1089
ifrane ===> 1156
ifrane ===> 1225
ifrane ===> 1296
ifrane ===> 1369
fes ===> 1444
fes ===> 1521